name = "GuardianVM"
author = "ender"
type = "vm"

instruction("ADD"){
    execute = add
    fuel = fuelLowest
}

instruction("SUB"){
    execute = sub
    fuel = fuelLowest
}

instruction("MUL"){
    execute = mul
    fuel = fuelLowest
}

instruction("MOD"){
    description = "Returns the remainder of an integer division"
    execute = mod
    fuel = fuelLowest
}

instruction("RUN"){
    description = "Launches a new pseudo-thread"
    execute = run
}

instruction("PUSH"){
    description = "Pushes a block of memory onto the stack"
    execute = push
    fuel = pushFuel
}

instruction("JUMP"){
    description = "Alter the program counter"
    execute = Jump
    fuel = fuelLowest
}

instruction("JUMPI"){
    description = "Alter the program counter if a condition is satisfied"
    execute = jumpIf
    fuel = fuelLowest
}

instruction("LT"){
    description = "Less than comparison"
    execute = lessThan
    fuel = fuelLowest
}

instruction("GT"){
    description = "Less than comparison"
    execute = greaterThan
    fuel = fuelLowest
}

instruction("EQ"){
    description = "Less than comparison"
    execute = equals
    fuel = fuelLowest
}

instruction("AND"){
    description = "Less than comparison"
    execute = and
    fuel = fuelLowest
}

instruction("OR"){
    description = "Less than comparison"
    execute = or
    fuel = fuelLowest
}

instruction("XOR"){
    description = "Less than comparison"
    execute = xor
    fuel = fuelLowest
}

instruction("NOT"){
    description = "Less than comparison"
    execute = not
    fuel = fuelLowest
}


instruction("MSTORE"){
    description = "Less than comparison"
    execute = mStore
    fuel = fuelLowest
}

instruction("SSTORE"){
    description = "Less than comparison"
    execute = sStore
    fuel = fuelLowest
}

instruction("PC"){
    description = "Less than comparison"
    execute = programCounter
    fuel = fuelLowest
}

instruction("JUMPDEST"){
    description = "Less than comparison"
    execute = jumpDest
    fuel = fuelLowest
}

instruction("MSIZE"){
    description = "Less than comparison"
    execute = memorySize
    fuel = fuelLowest
}

instruction("MLOAD"){
    description = "Loads data from memory"
    execute = memoryLoad
    fuel = fuelLowest
}

instruction("DUP"){
    description = "Less than comparison"
    execute = duplicate
    fuel = fuelLowest
}

instruction("SWAP"){
    description = "Less than comparison"
    execute = swap
    fuel = fuelLowest
}

instruction("LT"){
    description = "Less than comparison"
    execute = lessThan
    fuel = fuelLowest
}

instruction("CREATE"){
    description = "Less than comparison"
    execute = create
    fuel = fuelLowest
}

instruction("CALL"){
    description = "Less than comparison"
    execute = call
    fuel = fuelLowest
}

instruction("CALLCODE"){
    description = "Less than comparison"
    execute = callCode
    fuel = fuelLowest
}

instruction("DELEGATECALL"){
    description = "Less than comparison"
    execute = delegateCall
    fuel = fuelLowest
}
